body {
    background-color: rgb(202, 175, 24);
}
button {
    background-color: orange;
    color: white;
    font-size: 18px;
}
p {
   background-color: rgb(3, 87, 24); 
   color: white;
   font-size: 18px;
}
div {
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}